@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;600;700&family=Poppins:wght@500&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    min-height: 100vh;
    line-height: 1.5;
    
    }

    .photos{
        align-content: center;
    }
    
    .description-container{
        max-width: 1500px;
        margin: 40px auto 20px;
        margin-top: 30px;
    }

    .description-container p{
        text-align: justify;
        line-height: 30px;
    }

    .description-container .home-img1{
        max-width: 400px;

    }


.description-container .home-img2{
    max-width: 400px;
    margin-top: 30px;

}

    .description-container .home-img1.right{
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;

    }

    .description-container .home-img2.left{
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 30px;

    }

   
    /*Header*/
    
    .logo {
    position: absolute;
    top: 25px;
    left: 2.5%;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(13, 110, 139, 0.75);
    }

    .swim-image {

        margin-top: 10px;
        width: 100%;
    }
    
    
    .navigation {
    position: fixed;
    top: 20px;
    right: 5%;
    z-index: 20;
    }
    
    .navigation .toggle {
    position: absolute;
    top: 20px;
    right: 10%;
    z-index: 20;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    
    }
    
    
    .navigation .hamburger {
    position: absolute;
    top: 20px;
    right: 10%;
    z-index: 1;
    width: 60px;
    height: 60px;
    background-color: rgba(13, 110, 139, 0.75);
    padding: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    
    .navigation .hamburger .icon {
    position: relative;
    width: 100%;
    height: 3px;
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    
    }
    
    .navigation .hamburger .icon::after,
    .navigation .hamburger .icon::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background-color: inherit;
    z-index: 0.5;
    }
    
    
    .navigation .hamburger .icon::after {
    top: 10px;
    }
    
    .navigation .toggle:checked + .hamburger .icon{
    transform: rotate(135deg);
    }
    
    .navigation .toggle:checked + .hamburger .icon::before,
    .navigation .toggle:checked + .hamburger .icon::after{
    
    top: 0;
    transform: rotate(90deg);
    }
    
    .navigation .toggle:checked:hover + .hamburger .icon{
    transform: rotate(225deg);
    }
    
    .navigation .nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    visibility: hidden;
    }
    
    .navigation .nav .background {
    background: rgb(21, 99, 163);
    width: 200vw;
    height: 200vw;
    
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    
    transform: scale(0);
    transition: 0.4s;
    border-radius: 70%;
    
    }
    
    .navigation .nav .background .center {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    
    opacity: 0;
    transition: 0.4s
    }
    
    .navigation .nav .background .center ul li {
    list-style: none;
    padding: 25px;
    transition: 0.4s;
    
    }
    
    
    .navigation .nav .background .center ul li a{
    color: white;
    text-decoration: none;
    
    }
    
    .navigation .nav .background .center ul li a:hover{
    color: rgb(27, 87, 161);
    
    }
    
    .navigation .toggle:checked ~ .nav {
    visibility: visible;
    }
    
    .navigation .toggle:checked ~ .nav .background {
    transform: scale(1);
    transition-duration: 0.4s;
    }
    
    
    .navigation .toggle:checked ~ .nav .background .center {
    opacity: 1;
    transition: 0.4s
    }
    
   

    /* gallery */

    .photos{
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px;
    }

    .column{
        flex: 25%;
        max-width: 30%;
        padding: 0px 0px;
    }
    .column img{
        margin-top: 15px;
        vertical-align: middle;
        width: 98%;
    }

    .column img:hover{
        box-shadow: 4px 4px 5px rgba(0, 0, 0, .7);
    }
    .videos{

        margin-top: 10px;
        margin-inline: auto;
        
     }
   
@media screen and (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 50%;   
    } 

    .videos{
        flex: 50%;
        max-width: 50%;   
    } 
}

@media screen and (max-width: 600px){
    .column{
        flex: 100%;
        max-width: 100%;   
    } 

    .videos{
        flex: 100%;
        max-width: 100%;   
    } 
}
    /*footer*/

    
footer{
    height: 150px;

}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}