@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;600;700&family=Poppins:wght@500&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    min-height: 100vh;
    line-height: 1.5;
    color: #3a3a3a;
    
    }

    .photos{
        align-content: center;
    }
    
    .description-container{
        max-width: 1500px;
        margin: 40px auto 20px;
        margin-top: 30px;
    }

    .description-container p{
        text-align: justify;
        line-height: 35px;
        font-size: 17px;
    }

    .description-container .home-img1{
        max-width: 400px;

    }


.description-container .home-img2{
    max-width: 400px;
    margin-top: 30px;

}

    .description-container .home-img1.right{
        float: right;
        margin-left: 10px;
        margin-bottom: 10px;

    }

    .description-container .home-img2.left{
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 30px;

    }

   
    /*Header*/
    
    .logo {
    position: absolute;
    top: 10px;
    left: 0.5%;
    font-size: 45px;
    font-weight: 1500;
    text-transform: uppercase;
    color: rgba(51, 13, 139, 0.75);
    
    }

    #club {
        float: center;
        border-inline: none;

    }

    .swim-image {

        margin-top: 10px;
        width: 100%;
    }
    
    h1{
        background-color: skyblue;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #252525;
        border-bottom: none;
    }
    

    /*navigation links*/

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: right;
        font-size: 110%;
        letter-spacing: 4px;
        
    }
    
    li{
        display: inline-block;
        margin-right: 35px;
        cursor: pointer;
    }

    li a{
        text-decoration: none;
        color: inherit;
    }

    li a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    .active {
        border-bottom: 1px solid #3a3a3a;
    }
   
   

    /* gallery */

    .photos{
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px;
    }

    .column{
        flex: 25%;
        max-width: 30%;
        padding: 0px 0px;
    }
    .column img{
        margin-top: 15px;
        vertical-align: middle;
        width: 98%;
    }

    .column img:hover{
        box-shadow: 4px 4px 5px rgba(0, 0, 0, .7);
    }
    .videos{

        margin-top: 10px;
        margin-inline: auto;
        
     }
   
@media screen and (max-width: 800px){
    .column{
        flex: 50%;
        max-width: 50%;   
    } 

    .videos{
        flex: 50%;
        max-width: 50%;   
    } 
}

@media screen and (max-width: 600px){
    .column{
        flex: 100%;
        max-width: 100%;   
    } 

    .videos{
        flex: 100%;
        max-width: 100%;   
    } 

}

/* contact*/

.contact-wrap
{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1){
    flex: 30%;
    color: white;
    background: url(../images/backg\ img\ 2.jpeg);
}

.contact-in:nth-child(2){
    flex: 45%;
    background: #c31432;
}

.contact-in:nth-child(3){
    flex: 25%;
    padding: 0;
}

.contact-in h1{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: blue;
    line-height: 40px;
    text-align: center;
}

.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}


.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
   color: #fff;
}

.contact-in-textarea {
    width: 100%;
    height: 150%;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    padding-top: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;
 }

 .contact-in-btn {
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.location iframe{
    width: 50%;
    height: 150%;
    margin-top: 50px;
    
}

    /*footer*/

    
footer{
    height: 150px;
    background-color: skyblue;
}

.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
    
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
    margin-top: 10px;
}